.player-container {
    gap: 1rem;
    background-color: rgba(0, 139, 139, 0.5);
    padding: 0 1.5rem 0 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 16rem;
    cursor: pointer;
    img {
        height: 2rem;
        width: 2rem;
        display: block;
    }
    span {
        font-family: 'Rye';
        font-size: 1.5rem;
        color: white;
    }
    &:hover {
        filter: saturate(1.5);
    }
}

.player-active {
    background-color: rgba(161, 21, 77, 0.5);
}

@media (max-width: 1700px) {
    .player-container {
        width: 12rem;
    }
}

@media(max-width:1199px) {
    .player-container {
        gap: .5rem;
        width: unset;
        padding: 0 .5rem 0 0;
        display: flex;
        flex-direction: column-reverse;
        width: 150px;
        border-top-left-radius: unset;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        img {
            height: 3rem;
            width: 3rem;
            display: block;
        }
    }
    .fullname {
        padding-top: .5rem;
    }
}

@media(max-height: 599px) {
    .player-container {
        img {
            height: 2rem;
            width: 2rem;
        }
        span {
            font-size: 1rem;
        }
    }
}