.player-container {
    gap: 1rem;
    background-color: rgba(0, 139, 139, 0.5);
    padding: 0 1.5rem 0 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 16rem;
    img {
        height: 4rem;
        width: 4rem;
        display: block;
    }
    span {
        font-family: 'Rye';
        font-size: 2rem;
        color: white;
    }
}