.player-container {
    gap: 1rem;
    background-color: rgba(0, 139, 139, 0.5);
    padding: 0 1.5rem 0 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 16rem;
    img {
        height: 2rem;
        width: 2rem;
        display: block;
    }
    span {
        font-family: 'Rye';
        font-size: 1.5rem;
        color: white;
    }
}

.shortname {
    display: none;
}

.player-active {
    background-color: rgba(161, 21, 77, 0.5);
}

@media (orientation: landscape) and (max-width: 1400px) {
    .player-container {
        width: 12rem;
    }
}

@media (orientation: portrait) and (max-width: 1400px) {
    .player-container {
        width: 12rem;
    }
}

@media(max-width:1200px) {
    .player-container {
        gap: .5rem;
        width: unset;
        padding: 0 .5rem 0 0;
    }
    .shortname {
        display: unset;
    }
    .fullname {
        display: none;
    }
}