.startscreen-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.startscreen-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.startscreen-overlay {
    position: absolute;
    top: 0;
}

.startscreen-frame {
    color: white;
    background-image: linear-gradient(132deg, #161616 0%, #333030 100%);
    border: .7rem solid transparent;
    border-image: url('../../assets/img/bg.jpg') 2.333% round;
    min-height: 24rem;
    min-width: 12rem;
    gap: 1rem;
}

.btn-primary {
    --bs-btn-bg: #a6183b;
    --bs-btn-border-color: #a6183b;
}