@import url(../start-screen/start-screen.component.scss);
.game-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.endscreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.game-screen {
    min-height: 100vh;
}

.game-screen-background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    img {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        object-fit: cover;
    }
}

.pick-card {
    position: absolute;
    top: 0;
    animation: pick-card-animation 1.25s ease-in-out;
    -webkit-transform: scale(1.2) translateY(165%) rotate(15deg);
    transform: scale(1.2) translateY(165%) rotate(15deg);
}

@keyframes pick-card-animation {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1.2) translateY(165%) rotate(15deg);
        transform: scale(1.2) translateY(165%) rotate(15deg);
    }
}

.played-card {
    position: absolute;
    top: 0;
    transform: scale(1.2) translateY(165%) rotate(15deg);
    &:hover {
        cursor: pointer;
        filter: brightness(0.8);
    }
}

.player-container-pos {
    position: absolute;
    right: 0;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 3;
}

.bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-add-player {
    position: absolute;
    bottom: 1rem;
    right: .5rem;
}

app-game-info {
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}

.card-deck {
    /* Height based on window dimensions */
    height: calc(var(--scale) * 8.5);
    margin: calc(var(--scale) * 0.3) auto;
}

.card-spread {
    /* Setting the required proportions to the cards */
    width: calc(var(--scale) * 1);
    height: calc(var(--scale) * 1.7);
    margin: 0 auto;
    position: relative;
    padding: 0;
    list-style-type: none;
    li {
        padding: 0;
        /* Here we duplicate the size of the parent block */
        width: inherit;
        height: inherit;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto;
        -webkit-transform-origin: 50% 235% 0px;
        transform-origin: 50% 235% 0px;
    }
}

.card-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    cursor: pointer;
    &:hover {
        filter: brightness(0.8);
    }
}

@media (orientation: landscape) {
    .card-deck {
        --scale: 11vh;
    }
}

@media (orientation: portrait) {
    .card-deck {
        --scale: 11vw;
    }
}


/* Media queries to ensure that the circle always fits the screen */

.hidden {
    visibility: hidden;
}