@import url(../start-screen/start-screen.component.scss);
.endscreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.game-screen {
    min-height: 100vh;
}

.game-screen-background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    img {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        object-fit: cover;
    }
}

.card-stack {
    position: relative;
    margin-top: -20%;
    width: calc(var(--scale) * 1);
    height: calc(var(--scale) * 1.7);
    img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        // -webkit-transform-origin: 50% 235% 0;
        transform-origin: 50% 170% 0;
        // transform: translateX(calc(var(--scale) * 1)) translateY(calc(var(--scale) * 1.7));
    }
}

.card-from-stack {
    &:hover {
        filter: brightness(0.7);
        cursor: pointer;
    }
}

.pick-card {
    animation: pick-card-animation 1.25s ease-in-out;
    transform: scale(1) translateX(-50%) translateY(110%) rotate(15deg);
}

@keyframes pick-card-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1) translateX(-50%) translateY(110%) rotate(15deg);
    }
}

.played-card {
    transform: scale(1) translateX(-50%) translateY(110%) rotate(15deg);
    &:hover {
        cursor: pointer;
        filter: brightness(0.8);
    }
}

.player-container-pos {
    position: absolute;
    right: 0;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 3;
}

.btn-add {
    font-size: 2rem;
    margin-right: 1rem;
}

.pin-bottom {
    margin-bottom: 1rem;
    width: 100vw;
}

app-game-info {
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}


/* Media queries to ensure that the circle always fits the screen */

@media (orientation: landscape) {
    .card-stack {
        --scale: 11vh;
    }
}

@media (orientation: portrait) {
    .card-stack {
        --scale: 11vw;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .card-stack {
        margin-top: -30%;
        --scale: 12vh;
    }
}

@media (orientation: portrait) and (max-width: 1200px) {
    .card-stack {
        margin-top: -30%;
        --scale: 12vw;
    }
}

@media (orientation: landscape) and (max-width: 720px),
(max-height:600px) {
    .card-stack {
        --scale: 14vh;
    }
}

@media (orientation: portrait) and (max-width: 720px) {
    .card-stack {
        --scale: 14vw;
        margin-left: -20%;
    }
}

@media(max-height:540px) {
    .card-stack {
        margin-top: -15%;
    }
}

@media(max-height:440px) {
    .card-stack {
        margin-top: -10%;
    }
}

@media(max-height:319px) {
    .card-stack {
        margin-top: -5%;
    }
}

@media(max-width: 479px),
(max-height:370px) {
    .btn-add {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 0;
    }
}

.hidden {
    visibility: hidden;
}