<div class="game-screen-background">
    <img src="assets/img/bg.jpg">
</div>

<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.rem': 6 + (2.5*i)}" [name]="player" [playerActive]="i === game.currentPlayer" class="player-container-pos"></app-player>
<!-- From the Object game of the exported Class Game (-> models/game.ts) we put the current position in game.players-Array (= Player) as an Input into PlayerComponent (see player.component.ts: @Input() name: string). Same for the playerActive-Boolean (@Input() playerActive: boolean) -->

<div class="game-screen d-flex flex-column justify-content-between align-items-center">
    <div></div>
    <div class="card-stack">
        <img [class.hidden]="c == ''" *ngFor="let c of game.stack; let i = index;" [ngStyle]="{'right.px': i*0, 'top.px':i*0, 'transform': 'rotate('+i*(360/game.stack.length)+'deg)', '-webkit-transform': 'rotate('+i*(360/game.stack.length)+'deg)', '-ms-transform': 'rotate('+i*(360/game.stack.length)+'deg)'}"
            (click)="pickCard(i)" class="card-from-stack top-card" src="assets/img/cards/card_cover.png">
        <img *ngFor="let card of game.playedCards;" class="played-card" src="assets/img/cards/{{ card }}.png">
        <img *ngIf="pickCardAnimation" class="pick-card" src="assets/img/cards/{{ currentCard }}.png">
    </div>

    <div class="d-flex justify-content-between pin-bottom align-items-center">
        <app-game-info [card]="currentCard" (click)="openDetailsDialog()"></app-game-info>
        <button mat-fab color="primary" (click)="openAddPlayerDialog()" class="btn-add">+</button>
    </div>
</div>




<!-- <a href="https://www.flaticon.com/free-icons/beard" title="beard icons">Beard icons created by Freepik - Flaticon</a> -->