<div class="game-component">
    <div class="game-screen-background">
        <img src="assets/img/bg.jpg">
    </div>

    <div class="players-container hide-small-screen">
        <app-player (click)="openEditPlayerDialog(i)" *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.rem': 1 + (2.2*i)}" [name]="player" [imgSrc]="game.playerImgs[i]" [playerActive]="i === game.currentPlayer" class="player-container-pos"></app-player>
    </div>

    <div class="players-container hide-big-screen" #scrollX>
        <app-player (click)="openEditPlayerDialog(i)" (wheel)="onWheel($event)" *ngFor="let player of game.players; let i = index;" [name]="player" [imgSrc]="game.playerImgs[i]" [playerActive]="i === game.currentPlayer" class=""></app-player>
    </div>

    <div class="container">
        <div class="card-deck">
            <ul class="card-spread">
                <li [class.hidden]="c == ''" *ngFor="let c of game.stack; let i = index;" (click)="pickCard(i)" [ngStyle]="getCardStyle(i)">
                    <img class="card-img" src="assets/img/cards/card_cover.png">
                </li>
                <img *ngFor="let card of game.playedCards; let j = index" (click)="openDetailsDialog()" [ngStyle]="{'right.px':j}" class="card-img played-card" src="assets/img/cards/{{ card }}.png">
                <img *ngIf="game.pickCardAnimation" [ngStyle]="{'right.px':game.playedCards.length}" class="card-img pick-card" src="assets/img/cards/{{ game.currentCard }}.png">
            </ul>
        </div>
    </div>

    <div class="bottom-container">
        <app-game-info [card]="game.currentCard" (click)="openDetailsDialog()"></app-game-info>
    </div>
    <button *ngIf="!gameIsFull()" mat-fab color="primary" (click)="openAddPlayerDialog()" class="btn-add-player">+</button>

    <div *ngIf="game.gameEnd" class="endscreen d-flex justify-content-center align-items-center" [ngStyle]="{'z-index':10}">
        <div class="startscreen-container">
            <img class="startscreen-img" src="assets/img/startscreen.jpg">
        </div>
        <div class="startscreen-container startscreen-overlay">
            <mat-card class="example-card startscreen-frame">
                <mat-card-header>
                    <mat-card-title class="txt-center font-Rye fadeIn">
                        End
                    </mat-card-title>
                    <mat-card-subtitle class="txt-center font-Rye fadeIn">
                        All four kings are picked.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <button mat-button color="primary" (click)="restartGame()" class="start-btn fadeIn">Restart Game</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>



<!-- <a href="https://www.flaticon.com/free-icons/beard" title="beard icons">Beard icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/person" title="person icons">Person icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/sloth" title="sloth icons">Sloth icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/person" title="person icons">Person icons created by Freepik - Flaticon</a>




<a href="https://www.flaticon.com/free-icons/animal-kingdom" title="animal kingdom icons">Animal kingdom icons created by Prashanth Rapolu 15 - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/sloth" title="sloth icons">Sloth icons created by Freepik - Flaticon</a> -->