<div class="imprint-container">
    <app-header></app-header>
    <div class="imprint-content d-flex flex-column align-items-center">
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Raphael Konopatzki<br /> Cranger Stra&szlig;e, 191<br /> 45891 Gelsenkirchen</p>

        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 20940533754<br /> E-Mail: raphaelkonopatzki@web.de</p>

        <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
    <app-footer></app-footer>
</div>