/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.font-Rye {
    font-family: 'Rye';
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-between {
    align-items: space-between;
}

.txt-center {
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}