/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.font-Rye {
    font-family: 'Rye';
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-between {
    align-items: space-between;
}

.txt-center {
    text-align: center;
}

html,
body {
    height: 100%;
}

@media (max-width: 500px) {
    html {
        font-size: 15px;
    }
}