@import url(../../assets/css/game-info-helper.css);
.example-card {
    width: 400px;
    height: 110px;
}

.txt-margin {
    margin-bottom: 1rem !important;
}

.long-text-info {
    white-space: nowrap;
    overflow: hidden;
}

.small-example-card {
    display: none;
    border-top-left-radius: 0;
    img {
        height: 2rem;
        width: 2rem;
        padding-bottom: .5rem;
    }
}

@media(max-width: 479px) {
    .example-card {
        width: 100vw;
    }
}

@media (orientation: landscape) and (max-height: 599px) and (max-width:1100px) {
    .example-card {
        display: none;
    }
    .small-example-card {
        display: unset;
    }
}