<mat-card class="example-card">
    <mat-card-header class="d-flex flex-column-reverse">
        <div class="d-flex justify-content-between">
            <mat-card-subtitle class="font-Rye subtitle-info">{{ gameInfoHelper.card ? gameInfoHelper.subtitle : 'No card picked yet'}}</mat-card-subtitle>
            <mat-card-subtitle class="font-Rye subtitle-info">Click for Details</mat-card-subtitle>
        </div>
        <mat-card-title class="font-Rye title-info">{{ gameInfoHelper.card ? gameInfoHelper.title : 'Please pick a card...' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="font-Rye txt-margin long-text-info">{{ gameInfoHelper.card ? gameInfoHelper.adaptStringlength(gameInfoHelper.longText,36) : '... from the card stack.' }}</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<mat-card class="example-card small-example-card">
    <mat-card-content>
        <img src="assets/img/info.png">
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>